a
{
	color: #0000ff;
}

a:hover
{
	color: #70a0fe;
}

p
{
	margin: 0;
}

#messages
{
	font-family: arial, sans-serif;
}

#messages td
{
	padding: 0;
}

.messageRow, .messageContent
{
	width: 100%;
	text-align: left;
}

.message-serviceCell
{
	background-color: #eeeeee;
	text-align: left;
	padding: 2px;
	margin: 2px;
	margin-bottom: 7px;
}

.message-iconCell p
{
	padding-left: 3px;
}

.messageAuthorLink
{
	color: black;
}

.messageAuthorLink:hover
{
	color: #666666;
}
